In [14]:
# Read in the Hall of Fame Batting data file.
hof <- read.csv("data/hofbatting.csv")

In [15]:
# Figure out which year it was when the player was 1/2 way through their career.
hof$MidCareer <- with(hof, (From + To) / 2)

# Now generate a Factor Variable of the following meaningful years.
hof$era <- cut(hof$MidCareer, breaks=c(1800,1900,1919,1941,1960,1976,1993,2999), labels=c("19th Century","Lively Ball","Dead Ball","Integration","Expansion","Free Agency","Long Ball"))

# Now generate a Data Frame of a sub-set of HOF data
t.500 = subset(hof, HR>=500)

In [16]:
# Class function.  Tells you what type of object each variable is
class(hof$era)
class(t.500)

[1] "factor"

[1] "data.frame"

In [17]:
# Names function.  Tells you all feature names in each variable.  
#   This is a function for Data Frames, null is expected for the Factor variable.
names(hof$era)
names(t.500)

NULL

 [1] "Rk"        "X"         "Inducted"  "Yrs"       "From"      "To"
 [7] "ASG"       "WAR.pos"   "G"         "PA"        "AB"        "R"
[13] "H"         "X2B"       "X3B"       "HR"        "RBI"       "SB"
[19] "CS"        "BB"        "SO"        "BA"        "OBP"       "SLG"
[25] "OPS"       "MidCareer" "era"

In [21]:
# Str function.  Lists the Structure of the data.
str(hof$era)
print("")
str(t.500)

 Factor w/ 7 levels "19th Century",..: 5 7 1 5 3 4 3 2 3 5 ...
[1] ""
'data.frame':	15 obs. of  27 variables:
 $ Rk       : int  1 13 76 108 121 135 140 142 145 154 ...
 $ X        : Factor w/ 147 levels "Al Kaline HOF",..: 53 38 70 113 55 96 34 143 144 35 ...
 $ Inducted : int  1982 1977 1951 1993 1984 1974 1978 1979 1986 2003 ...
 $ Yrs      : int  23 19 20 21 22 18 17 22 22 21 ...
 $ From     : int  1954 1953 1925 1967 1954 1951 1952 1951 1959 1977 ...
 $ To       : int  1976 1971 1945 1987 1975 1968 1968 1973 1980 1997 ...
 $ ASG      : int  25 14 9 14 13 20 12 24 6 8 ...
 $ WAR.pos  : num  137.3 62.5 92.5 68.4 55.8 ...
 $ G        : int  3298 2528 2317 2820 2435 2401 2391 2992 2588 3026 ...
 $ PA       : int  13941 10394 9676 11418 9833 9907 10100 12496 9692 12817 ...
 $ AB       : int  12364 9421 8134 9864 8147 8102 8537 10881 8197 11336 ...
 $ R        : int  2174 1305 1751 1551 1283 1676 1509 2062 1229 1627 ...
 $ H        : int  3771 2583 2646 2584 2086 2415 2315 3283 2211 3255 ...
 $ X2B      : int  624 407 458 463 290 344 354 523 353 560 ...
 $ X3B      : int  98 90 125 49 24 72 72 140 46 35 ...
 $ HR       : int  755 512 534 563 573 536 512 660 521 504 ...
 $ RBI      : int  2297 1636 1922 1702 1584 1509 1453 1903 1555 1917 ...
 $ SB       : int  240 50 87 228 19 153 68 338 26 110 ...
 $ CS       : int  73 53 73 115 18 38 39 103 22 43 ...
 $ BB       : int  1402 763 1452 1375 1559 1733 1444 1464 1345 1333 ...
 $ SO       : int  1383 1236 1311 2597 1699 1710 1487 1526 1550 1516 ...
 $ BA       : num  0.305 0.274 0.325 0.262 0.256 0.298 0.271 0.302 0.27 0.287 ...
 $ OBP      : num  0.374 0.33 0.428 0.356 0.376 0.421 0.376 0.384 0.374 0.359 ...
 $ SLG      : num  0.555 0.5 0.609 0.49 0.509 0.557 0.509 0.557 0.515 0.476 ...
 $ OPS      : num  0.928 0.83 1.038 0.846 0.884 ...
 $ MidCareer: num  1965 1962 1935 1977 1964 ...
 $ era      : Factor w/ 7 levels "19th Century",..: 5 5 3 6 5 4 4 5 5 6 ...

In [24]:
# Levels function.  Factors only, lists the levels of a factor.
levels(hof$era)
levels(t.500)

[1] "19th Century" "Lively Ball"  "Dead Ball"    "Integration"  "Expansion"
[6] "Free Agency"  "Long Ball"

NULL

In [28]:
# Dim function.  Lists the dimensions of a Data Frame
dim(hof$era)
dim(t.500)  # 15 Observations containing 27 Features...  aka 15 rows by 27 columns

NULL

[1] 15 27

In [30]:
# Print out first X rows of data
head(t.500, n=1)
head(t.500, n=7)

  Rk X              Inducted Yrs From To   ASG WAR.pos G    PA    ... SB  CS
1 1  Hank Aaron HOF 1982     23  1954 1976 25  137.3   3298 13941 ... 240 73
  BB   SO   BA    OBP   SLG   OPS   MidCareer era
1 1402 1383 0.305 0.374 0.555 0.928 1965      Expansion

   Rk  X                    Inducted Yrs From To   ASG WAR.pos G    PA    ...
1    1 Hank Aaron HOF       1982     23  1954 1976 25  137.3   3298 13941 ...
10  13 Ernie Banks HOF      1977     19  1953 1971 14   62.5   2528 10394 ...
54  76 Jimmie Foxx HOF      1951     20  1925 1945  9   92.5   2317  9676 ...
71 108 Reggie Jackson HOF   1993     21  1967 1987 14   68.4   2820 11418 ...
80 121 Harmon Killebrew HOF 1984     22  1954 1975 13   55.8   2435  9833 ...
88 135 Mickey Mantle HOF    1974     18  1951 1968 20  105.5   2401  9907 ...
91 140 Eddie Mathews HOF    1978     17  1952 1968 12   91.9   2391 10100 ...
   SB  CS  BB   SO   BA    OBP   SLG   OPS   MidCareer era
1  240  73 1402 1383 0.305 0.374 0.555 0.928 1965.0    Expansion
10  50  53  763 1236 0.274 0.330 0.500 0.830 1962.0    Expansion
54  87  73 1452 1311 0.325 0.428 0.609 1.038 1935.0    Dead Ball
71 228 115 1375 2597 0.262 0.356 0.490 0.846 1977.0    Free Agency
80  19  18 1559 1699 0.256 0.376 0.509 0.884 1964.5    Expansion
88 153  38 1733 1710 0.298 0.421 0.557 0.977 1959.5    Integration
91  68  39 1444 1487 0.271 0.376 0.509 0.885 1960.0    Integration

In [32]:
# Print out last x rows of data
tail(t.500, n=3)

    Rk  X                Inducted Yrs From To   ASG WAR.pos G    PA    ... SB
116 184 Babe Ruth HOF    1936     22  1914 1935  2  159.2   2503 10620 ... 123
120 189 Mike Schmidt HOF 1995     18  1972 1989 12  103.0   2404 10062 ... 174
142 224 Ted Williams HOF 1966     19  1939 1960 19  119.8   2292  9788 ...  24
    CS  BB   SO   BA    OBP   SLG   OPS   MidCareer era
116 117 2062 1330 0.342 0.474 0.690 1.164 1924.5    Dead Ball
120  92 1507 1883 0.267 0.380 0.527 0.908 1980.5    Free Agency
142  17 2021  709 0.344 0.482 0.634 1.116 1949.5    Integration